<div class="container">

</div>

<div class="container">
  <div class="row text-center">
    <div class="col-lg-4">
      <a href="#" class="circle-button" ng-click="light({ mode: 'on' })">Light On</a>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <a href="#" class="circle-button" ng-click="light()">Light Off</a>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <a href="#" class="circle-button" ng-click="light({ mode: 'rainbow' })">Rainbow</a>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
